body{
  background-color: #8EC5FC;
  background-image: linear-gradient(90deg, #8EC5FC 0%, #c48df7 100%);
}
.title{
  text-align: center;
  color: #b155fd;
}
button{
  background-color: #b155fd ;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}