.type-input{
    border: none;
    border-bottom: 1px solid black;
    padding: 3px 20px;
    width: 300px;
    margin : 5px auto;
    font-size: 22px;
}
.select-box{
    border: none;
    border-bottom: 1px solid black;
    padding: 3px 16px;
    width: 340px;
    margin : 5px auto;
    font-size: 20px;
    color: #706d6d;
}
.text-black{
    color: black;
}