.edit-btn{
    width: 20px;
    position: absolute;
    right: 60px;
    bottom: 7px;
    cursor: pointer;
}
.delet-btn{
    width: 20px;
    position: absolute;
    right: 30px;
    bottom: 7px;
    cursor: pointer;
}
